#app-container {
	margin-top: 75px;
}

#left-pane label{
	display: block;
	width: 100%
}

#left-pane label input{
	margin-right: 5px;
}

.left-pane-element {
	margin: 0 0 20px 0;
}

.entities-checkbox{
	float: left
}