{% extends 'flask_user/public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}

<form action="" method="POST" class="form" role="form" class="form-signin">
	<div class="col-md-4"> </div>
	<div class="col-md-4">
		<h2 class="form-signin-heading">{%trans%}Forgot Password{%endtrans%}</h2>
	    {{ form.hidden_tag() }}
	    {{ render_field(form.email, tabindex=10) }}
	    {{ render_submit_field(form.submit, tabindex=90) }}
	</div>

</form>

{% endblock %}
