html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#app-container {
	margin-top: 60px;
}

#left-pane{
	font-size: 12px;
}

legend{
	font-size: 16px;
	margin-bottom: 15px;
}

.navbar-nav{
	float: right;
}

#left-pane label{
	display: block;
	width: 100%
}

#left-pane label input{
	margin-right: 5px;
}

.left-pane-element {
	margin: 0 0 40px 0;
}

.entities-checkbox{
	float: left
}

.entity-container{
	display: none
}

.tick{
	font-size: 10px;
}

.x-axis path{
	fill: none;
	stroke: black;
	stroke-width: 2px;
}

.tick line{
	stroke: black;
}

.tooltips{
	position: absolute;
	top: 110px;
	left: 1120px;
}

.chart{
	width: 100%;
	overflow-x: scroll;
	position: relative;
	top: -35px;
}

.zoom-controller{
	display: inline-block;
	width: 25px;
	font-size: 20px;
	cursor: pointer;
	margin-left: 5px;
}

#zoom-head-1{
	font-size: 12px;
	width: 50px;
}

#zoom-container-1{
    position: relative;
    float: right;
    top: -20px;
    z-index: 2;
}

#zoom-head-2{
	font-size: 12px;
	width: 50px;
}

#zoom-container-2{
    position: relative;
    float: right;
    top: -20px;
    z-index: 2;
}

#color-scheme{
	width: 100px;
    font-size: 12px;
    display: inline-block;
    height: 30px;
}

#map{
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
}

.date-select-line{
	cursor: pointer;
}

.drag-arrow{
	cursor: pointer;
}

#heatmap-container{
	position: absolute;
	right: 20px;
	top: 0px;
}

.map.mode-create {
    cursor: crosshair;
}

.leaflet-edge {
    background-color: #aaa;
    box-shadow: 0 0 0 2px white, 0 0 10px rgba(0, 0, 0, .35);
    border-radius: 50%;
    cursor: move;
    outline: none;
    transition: background-color .25s;
}

.leaflet-polygon {
    fill: #aaa;
    stroke: #aaa;
    stroke-width: 2;
    fill-opacity: 0.5;
}

.leaflet-container {
    background-color: rgb(170, 211, 223) !important
}

.collapseTimeline{
	position: relative;
	top: -25px;
}

#collapse-left p{
	writing-mode:tb-rl;
    transform: rotate(180deg);
    position: fixed;
    top: 275px;
    left: 50px;
}

.panel-group, .panel-body, .panel-collapse{
	max-height: 145px;
}

.panel-title{
	font-size: 12px;
	position: relative;
	top: -4px;
}

.panel-heading{
	height: 25px;
}

.navbar .container {
    background-color:#5FA2DD;
    background: #5FA2DD;
    margin: 0;
    width: 100%;
    border-color: white
}

.navbar{
	border-color: white;
}

.navbar-brand{
	color: white !important
}

#left-pane{
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}

#toolbar{
	width: 50px;
	margin: 0;
	padding: 0;
	position: fixed;
	background: #5FA2DD;
	padding: 50px 0;
	left: 0;
}

.icon-bar .icon-svg {
    display: block;
    text-align: center;
    padding: 10px 4px;
    transition: all 0.3s ease;
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.icon-bar .icon-svg:hover {
    background-color: #000;
    text-decoration: none;
}

.icon-bar .active {
    background-color: #0479e0;
}

.left-pane-element legend{
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(203, 200, 200);
}