#app-container {
	margin-top: 75px;
}

#left-pane label{
	display: block;
	width: 100%
}

#left-pane label input{
	margin-right: 5px;
}

.left-pane-element {
	margin: 0 0 20px 0;
}

.entities-checkbox{
	float: left
}


#tooltip{
	position: absolute;
	top: 110px;
	left: 1120px;
}

.tick{
	font-size: 10px;
}

.x-axis path{
	fill: none;
	stroke: black;
	stroke-width: 2px;
}

.tick line{
	stroke: black;
}

#timeline{
	overflow-x: scroll;
}

.zoom-controller{
	display: inline-block;
	width: 25px;
	font-size: 25px;
	position: relative;
	top: 2px;
	cursor: pointer;
	margin-left: 5px;
}

#zoom-head{
	width: 50;
}

#zoom-container{
	position: absolute;
    top: 410px;
    right: 10px;
}

#color-scheme{
	width: 100px;
    font-size: 12px;
    display: inline-block;
    height: 30px;
}

#map{
	height: 350px;
	width: 847.5px;
	margin-bottom: 25px;
}

.date-select-line{
	cursor: pointer;
}

.drag-arrow{
	cursor: pointer;
}