{% extends "layout.html" %}
{% block body %}
    <div style="position: fixed; top: 10px; right: 20px;">
        {% if call_or_get(current_user.is_authenticated) %}
            Hi <span>{{ current_user.username }} </span>!
            &nbsp; | &nbsp;
            <a href="{{ url_for('user.logout') }}">{%trans%}Log out{%endtrans%}</a>
        {% else %}
            <a href="{{ url_for('user.login') }}">{%trans%}Sign in{%endtrans%}</a>
        {% endif %}
    </div>
    <div class="container">
        <div class="row">
            <h1>Welcome to the home of EpidNews</h1>
            <h3>An epidemiology visualiser</h3>
            <a href="/viz"><h2>Try the app</h2></a>
        </div>
    </div>
    <style type="text/css">
        h1, h2, h3{
            text-align: center;
        }
        h1{
            margin-top: 200px
        }
        body{
            background-color: #eee;
        }
    </style>
{% endblock%}